<html>
<head>
	<title>Welcome to Bar Golf!</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src ='/app.js'></script>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
	<div class='col-xs-12'>
	<h1>Welcome to Bar Golf</h1>
	<h3>Add Bar</h3>
	<input type="text" class = 'form-control' placeholder="Bar Name" name="name" id="name"><br>
	<select class='form-control' id="score">
  <option value="-2">Eagle</option>
  <option value="-1">Birdie</option>
  <option value="0">Par</option>
  <option value="1">Bogey</option>
</select>
<button type="button" id="addBar" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" ></span> Add Bar
</button>


	<table  class="yourScore table-striped">
	</table>
	<h3>Total Score</h3>
	<h3 class="totalScore"></h3>

	<h3>LeaderBoard</h3>
	<table class="leaderboard table-striped">
	</table>

</div>

</body>
</html>