<html>
<head>
	<title>Bar Golf</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src ='/app.js'></script>

	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
	<div class='col-xs-12'>
	<h1>Birthday Bar Golf</h1>

	<h3>Add Team</h3>
	<input type="text" class ='form-control' placeholder="Team Name" name="team_name" id="team"><br>
	<input type="password" class = 'form-control' placeholder="password" name="password" id="password"><br>
	<button type="button" id="addTeam" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" ></span> Add Team
</button>



		<h3>Login Team</h3>
	<input type="text" placeholder="Team Name" class='form-control' name="team_name" id="team_login"><br>
	<input type="password" placeholder="password" class='form-control' name="password" id="password_login"><br>
	<button type="button" id="login" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" ></span> Login
</button>

</div>

</body>
</html>